<h1>게시판</h1>

<h2><a href="/posts/new">[새 글]</a></h2>

<% @posts.each do |post| %>
    <h3><a href="/posts/show/<%= post.id %>"><%= post.id %> : <%= post.title %></a></h3>
<% end %>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <a href="/users/sign_out">로그아웃</a>
  <% else %>
    <a href="/users/sign_in">로그인</a>
  <% end %>